# Ignore DB and logs
config/db/
config/logs/
*.log

# Ignore Python cache
config/scripts/__pycache__/

# Ignore Git and editor junk
.git
*.swp
*.bak

# Ignore local UI build artifacts and dependencies
data/react-ui/node_modules
data/react-ui/dist
