# Ignore React build artifacts and dependencies
/data/react-ui/node_modules/
/data/react-ui/dist/
/data/html/

# Ignore local environment files
*.env

# Ignore log files
/config/logs/

# Ignore database files
/config/db/*.db

# Ignore Python bytecode
/config/scripts/__pycache__/

# atlas bin
config/atlas_go/atlas

# trash
**/*.tar
**/__pycache__
