# Build and UI output
# data/html/
# data/react-ui/dist/
# data/react-ui/node_modules/

# Runtime logs and state
config/logs/
config/db/
*.log
*.db

# Go build output and binaries
config/bin/
*.exe
*.out

# Node modules, env, OS junk
node_modules/
.env
.DS_Store

# Archives (optional)
*.tar
*.tar.gz
*.zip


# Ignore Python bytecode
config/scripts/__pycache__/

# Ignore Go compiled binary
config/atlas_go/atlas